[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
loguru = "*"
humanize = "*"
psutil = "*"
jishaku = {git = "https://github.com/Gorialis/jishaku"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}

[dev-packages]

[scripts]
start = "python -m bot"
